bestpractice/bboss-clientproxy/src/org/frameworkset/spi/remote/wsclient/ZWSFIFYKZV1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:n1="urn:sap-com:document:sap:rfc:functions">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="BN_ZWS_FI_FYKZ_V1">
		<wsaw:UsingAddressing
			xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
		<saptrnbnd:OptimizedXMLTransfer
			uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
			wsp:Optional="true" />
		<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
		</sapattahnd:Enabled>
		<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
			xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
			xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
			xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
			<wsp:All>
				<sp:TransportBinding>
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken>
									<wsp:Policy>
										<sp:HttpBasicAuthentication />
									</wsp:Policy>
								</sp:HttpsToken>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:TripleDesRsa15 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict />
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF_ZWS_FI_FYKZ_V1">
		<sapsession:Session
			xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
			<sapsession:enableSession>false</sapsession:enableSession>
		</sapsession:Session>
		<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
			xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
			xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
			xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" />
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP_ZfmFiFykzV1">
		<sapcomhnd:enableCommit
			xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
		<sapblock:enableBlocking
			xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
		<saptrhnw05:required
			xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
		<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
		</saprmnw05:enableWSRM>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char16">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char60">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="60" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="cuky5">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="5" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="curr17.2">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="17" />
					<xsd:fractionDigits value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="date">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
					<xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
			xmlns:n0="urn:sap-com:document:sap:rfc:functions">
			<xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
			<xsd:complexType name="ZstFykz">
				<xsd:sequence>
					<xsd:element name="GlAccount" type="n0:char10" />
					<xsd:element name="Txtsh" type="n0:char60" />
					<xsd:element name="DebCreLc" type="n0:curr17.2" />
					<xsd:element name="LocCurrcy" type="n0:cuky5" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TableOfZstFykz">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZstFykz" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZfmFiFykzV1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Fi00O06" type="tns:TableOfZstFykz" />
						<xsd:element name="IFuncArea" type="n0:char16" />
						<xsd:element name="IPstngDate" type="n0:date" />
						<xsd:element name="ITxtlg" type="n0:char60" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZfmFiFykzV1Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Fi00O06" type="tns:TableOfZstFykz" />
						<xsd:element name="OFuncArea" type="n0:char16" />
						<xsd:element name="OPstngDate" type="n0:date" />
						<xsd:element name="OTxtlg" type="n0:char60" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZfmFiFykzV1">
		<wsdl:part name="parameters" element="tns:ZfmFiFykzV1" />
	</wsdl:message>
	<wsdl:message name="ZfmFiFykzV1Response">
		<wsdl:part name="parameter" element="tns:ZfmFiFykzV1Response" />
	</wsdl:message>
	<wsdl:portType name="ZWS_FI_FYKZ_V1">
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF_ZWS_FI_FYKZ_V1" />
		</wsp:Policy>
		<wsdl:operation name="ZfmFiFykzV1">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_ZfmFiFykzV1" />
			</wsp:Policy>
			<wsdl:input message="tns:ZfmFiFykzV1" />
			<wsdl:output message="tns:ZfmFiFykzV1Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZWS_FI_FYKZ_V1" type="tns:ZWS_FI_FYKZ_V1">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN_ZWS_FI_FYKZ_V1" />
		</wsp:Policy>
		<wsa:EndpointReference
			xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
			<wsa:ReferenceParameters />
		</wsa:EndpointReference>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="ZfmFiFykzV1">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZWS_FI_FYKZ_V1">
		<wsdl:port name="ZWS_FI_FYKZ_V1" binding="tns:ZWS_FI_FYKZ_V1">
			<soap:address
				location="http://aabwpci.aa.com.cn:8001/sap/bc/srt/rfc/sap/zws_fi_fykz_v1/800/zws_fi_fykz_v1/zws_fi_fykz_v1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>